{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <div>
            <div>
                <select name="symbol">
                    <option disabled selected value="">Stock Symbol</option>
                    {% for option in options %}
                        <option value="{{ option["symbol"] }}">{{ option["symbol"] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="0">
            </div>
            <div>
                <button class="btn btn-danger" type="submit">Sell Shares</button>
            </div>
        </div>
    </form>
{% endblock %}